<div>
  <link href="./streapp.css" rel="stylesheet" />
  <div class="streapp-container">
    <a
      href="https://ducksploit.com"
      target="_blank"
      rel="noreferrer noopener"
      class="streapp-link"
    >
      <div class="streapp-container1">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="streapp-image"
        />
        <span class="streapp-text"><span>Text</span></span>
      </div>
    </a>
  </div>
</div>
